<!DOCTYPE html>
<html>
  <head>
    <% if(typeof title === undefined){ %>  
    <title><%= title %></title>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<nav>
    <ul>
        <li>
            <a href='/'>Homepage</a>
        </li>
        <li>
            <a href='/about'>About</a>
        </li>
        <li>
            <a href='/contact-us'>Say hello</a>
        </li>
    </ul>
</nav>